<%# app/views/lists/_form.html.erb %>
<%= simple_form_for(@list) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
