<%# app/views/lists/index.html.erb %>

<%# Navbar%>
<%= render 'navbar'%>
<p>
  <span id="banner-typed-text"></span>
</p>
<div class="banner">
  <h1 class="h1"><span class="title-1">Emmas</span><span class="title-2">Amazing</span><span class="title-3">Movie</span><span class="title-4">Lists</span></h1>
    <h2 class="h2">Save any kind of movies!</h2>
</div>

<h3>List Names 🎥</h3>
<%# flex-box container %>
  <div class="container">
    <%# display lists %>

      <% @lists.each do |list| %>
      <div>
        <div class="list-name"><%= list.name %></div>
        <div class="item-btn"><%= link_to 'Show list', list_path(list) %></div>
      </div>
      <% end %>
  </div>
    <div class="item-btn"><%= link_to 'Add new list', new_list_path(@list) %></div>
