// Specific CSS for your home-page

.h1 {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  font-family: "MintGroteskTrial Heavy",serif;
}

.h2 {
  text-align: center;
}

.btn {
  color: aquamarine;
  flex: auto;
  font-family: "MintGroteskTrial Heavy",serif;
}
