// Import page-specific CSS files here.
@import "home";
@import "show";

.banner {
  background-image: url("https://cdn.wallpapersafari.com/55/19/NWPD5b.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 36%;
  padding: 150px 0;
}

.showing-off-banner {
  // background-image: url("https://cdn.wallpapersafari.com/55/19/NWPD5b.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 36%;
  padding: 150px 0;
}

.title-1 {
 color: dodgerblue;
}

.title-2 {
  color: rgb(1, 151, 201);
}

.title-3 {
  color: rgb(7, 99, 129);
}

.title-4 {
  color: rgb(2, 58, 77);
}

.title-1, .title-2, .title-3, .title-4 {
  /* background-color: #b5f0ff; */
  padding: 1%;
  /* border-radius: 444444%; */
  margin: 4%;
}

.item-img {
 width: 100%;
 height: 200px;
 object-fit: cover;
 margin: 0;
}
