
.item-img {
  // width: 10%;
  // padding: 10px;
  // float: right;
  // border-radius: 10%;
  // // position: absolute;
  // // z-index: -1;
  margin: 10px;
  // border: solid 2px #806868;
}

.item-btn {
  // padding: 5%;
  // border: solid;
  // border-radius: 10%;
  margin: 10px;
  border: solid 2px #806868;
}
