
.item-img {
  // width: 10%;
  // padding: 10px;
  // float: right;
  // border-radius: 10%;
  // // position: absolute;
  // // z-index: -1;
  margin: 10px;
}

.item-btn {
  margin: 10px;
  text-decoration: none;
  background-color: transparent;
  color: #4A4A53;
  border: 1px solid #4A4A4E;
  padding: 3px 12px;
  border-radius: 29px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
